@import "tailwindcss";

html {
  font-size: 16px;
  font-family: "Onest";
}

body {
  margin: 0;
  padding: 0;
  background-color: #ff8080;
}

.key-shadow {
  box-shadow: 0 0 2px 1.25px rgba(0, 0, 0, 0.2);
}

.oleo {
  font-family: "Oleo Script";
}

@layer utilities {
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-4px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateX(-4px);
    }
    80% {
      transform: translateX(4px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-shake {
    animation: shake 0.3s ease-in-out;
  }
}
